<h1 class="welcome">Signup!</h1>
<div class="login_form">
<%= form_for @user do |f|%>
  <%= f.label :Email%>
  <%=f.text_field :email%>
  <%= f.label :Password%>
  <%=f.text_field :password%> 
  <%= f.label :Password_Confirmation%>
  <%=f.text_field :password_confirmation%>
  <%= f.submit "Create Account"%>
<% end%>
<p>Already a user? <a href="/login">Log in by clicking here</p>
</div>