<%=link_to "Sign Out", logout_path%>
</br>
</br>
  <%= render partial: "/links/form", locals: { type: "create" } %>
<br>
<br>
<%current_user.links.each do |link|%>
  <div class="container">
    <p> Title: <%=link.title%></p>
    <p> URL: <%=link.url%></p>
    <p> Read? <%=link.read%></p>
    <%= button_to "Edit", edit_link_path(link), method:'get'%>
    <br>
  </div>
<% end %>
 